@import "variables";

$iconWidth: 56px;

.top-content {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;

  td:first-child {
    padding-left: 24px;
  }

  td:last-child {
    padding-right: 24px;
  }
}

.wrapper {
  width: 100%;
}

.name-and-url-cell {
  padding: 8px 0px 8px 0px;
}

.name-and-url-container {
  width: 500px;

  @media screen and (max-width: $large - 1) {
    width: 300px;
  }
  @media screen and (max-width: $medium - 1) {
    width: 200px;
  }
  @media screen and (max-width: $tablet - 1) {
    width: 160px;
  }

  a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: fit-content;
  }

  div {
    width: inherit;

    .mat-caption {
      color: inherit;
    }
  }
}

.chart-container {
  padding: 0;

  @media screen and (max-width: $small - 1) {
    display: none;
  }

  .monitor-chart {
    margin-left: 10px;
  }
}

.status {
  @media screen and (max-width: $small - 1) {
    padding-left: 40px;
  }
}

.status-color {
  position: relative;
  padding: 0 0 0 24px;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
  }

  &--true:after {
    background-color: #54a65a;
  }

  &--false:after {
    background-color: $amaranth;
  }

  // For monitors that do not yet have a check
  &--:after {
    background-color: gray;
  }
}
