.comments-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.list-head-divider {
  margin-top: 15px;
}

.comment {
  padding: 15px 0;

  p {
    margin-bottom: 0;
  }

  &:last-of-type ~ mat-divider {
    display: none;
  }
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .comment-user-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
  }
  .name {
    margin-right: 10px;
  }
}

.comment-edit-options {
  min-width: 64px;
}

.delete-loading-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.delete-loading-overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.delete-spinner-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
